/* VARIABLES */
$basic-color: #666;
$white: #fff;
$background-color: #e6002d;
$hover-color: #840028;
/* COMMON */
body {
  width: 100%;
  height: 3000px;
  background-color: $background-color;
}
.inner {
  width: 1200px;
  background-color: $background-color;
  margin: 0 auto;
  display: flex;
  position: relative;
}
img {
  display: block;
}
li {
  list-style: none;
}
/* HEADER */
header {
  width: 100%;
  background-color: $background-color;
  position: fixed;
  height: 120px;
  border-bottom: 1px solid $hover-color;
  .inner {
    a {
      img {
        width: 190px;
        height: 90px;
        margin: 15px 50px 10px 10px;
      }
    }
  }
}
header {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    cursor: pointer;

    /* margin-left: 20px; */

    .menu-list {
      /* width: 120px; */
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 22px;
      baseline: none;

      &:hover {
        background-color: darken($background-color, 10%);
      }

      .menu-list__national-team {
        .inner {
          position: absolute;
          top: 115px;
          left: 50%;
          margin-left: -600px;
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          display: none;
        }
      }
    }
  }
}

header {
  .menu {
    .menu-list__national-team {
      .inner {
        li {
          width: calc(100% / 8);
          height: 80px;
          border: 1px solid red;
          margin: 5px;
          display: flex;
          align-items: center;
          padding-left: 5px;
        }
      }
    }
  }
}

header {
  .menu {
    .menu-list__competition {
      .inner {
        position: absolute;
        top: 115px;
        left: 50%;
        margin-left: -600px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
      }
    }
  }
}
header {
  .menu {
    .menu-list__competition {
      .inner {
        li {
          width: calc(100% / 8);
          height: 80px;
          border: 1px solid red;
          margin: 5px;
          display: flex;
          align-items: center;
          padding-left: 5px;
          display: none;
        }
      }
    }
  }
}
header {
  .menu {
    .menu-list__acaive {
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
      }
    }
  }
}
header {
  .menu {
    .menu-list {
      .menu-list__acaive {
        &:hover {
          background-color: darken($background-color, 10%);
        }
        .inner {
          height: 400px;
          border: 1px solid $hover-color;
          .sub-menu__international {
            display: flex;
            flex-grow: 1.7;
            padding: 10px;

            h3 {
              display: inline-block;
              font-size: 25px;
              margin-right: 30px;
            }
            ul {
              margin: 10px 20px 20px 10px;
              font-size: 18px;
              flex-grow: 0.7;
              li {
                margin-top: 20px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

header {
  .menu {
    .menu-list {
      .menu-list__acaive {
        .inner {
          .sub-menu__national {
            flex-grow: 1.5;
            display: flex;
            padding: 10px;
            h3 {
              display: inline-block;
              font-size: 25px;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}
header {
  .menu {
    .menu-list {
      .menu-list__acaive {
        .inner {
          .sub-menu__record {
            flex-grow: 1.5;
            display: flex;
            padding: 10px;
            h3 {
              display: inline-block;
              font-size: 25px;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}
