/* VARIABLES */
$basic-color: #666;
$white: #fff;
$background-color: #e6002d;
$hover-color: #840028;
/* COMMON */
body {
  width: 100%;
  height: 3000px;
  background-color: $background-color;
}
.inner {
  width: 1200px;
  background-color: $background-color;
  margin: 0 auto;
  display: flex;
  position: relative;
}
img {
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* HEADER */
header {
  width: 100%;
  background-color: $background-color;
  position: fixed;
  height: 120px;
  border-bottom: 1px solid $hover-color;
  .inner {
    a {
      img {
        width: 190px;
        height: 90px;
        margin: 15px 50px 10px 10px;
      }
    }
  }
}
header {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    cursor: pointer;
    .menu-list__kfa-live {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
    }
    .menu-list__national-team.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__national-team {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);

        li {
          height: 100px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 14px;
          border: 1px solid #840028;
        }
      }
    }
    .menu-list__competition.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__competition {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        border: 1px solid $hover-color;
        li {
          height: 100px;
          border-right: 1px solid $hover-color;
          display: flex;
          align-items: center;
          padding-left: 15px;
        }
      }
    }
    .menu-list__acaive.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__acaive {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 400px;
        border: 1px solid $hover-color;
        .sub-menu__international {
          display: flex;
          flex-grow: 1.7;
          padding: 10px;
          border-right: 1px solid $hover-color;
          h3 {
            display: inline-block;
            font-size: 25px;
            margin: 10px 30px 0 10px;
          }
          ul {
            margin: 10px 20px 20px 10px;
            font-size: 18px;
            flex-grow: 0.7;
            li {
              margin-top: 20px;
              font-size: 12px;
            }
          }
        }
        .sub-menu__national {
          flex-grow: 1.5;
          display: flex;
          padding: 10px;
          border-right: 1px solid $hover-color;
          h3 {
            display: inline-block;
            font-size: 25px;
            margin: 10px 30px 0 10px;
          }
          ul {
            margin: 0px 20px 20px 10px;
            font-size: 18px;
            flex-grow: 0.7;
            li {
              margin-top: 10px;
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
        .sub-menu__record {
          flex-grow: 1.5;
          display: flex;
          padding: 10px;
          h3 {
            display: inline-block;
            font-size: 25px;
            margin: 10px 30px 0 10px;
          }
          ul {
            margin: 0px 20px 20px 10px;
            font-size: 18px;
            flex-grow: 0.7;
            li {
              margin-top: 10px;
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
    .menu-list__KFA.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__KFA {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 400px;
        border: 1px solid $hover-color;
        .sub-menu__introduce {
          /* 여기 다섯가지 항목을 만들면서 뭔가 하나하나만드는 느낌이 이상함 */
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }

          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__association {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__vision {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__nfc {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__download {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* BUTTON */
header {
  .inner {
    .menu-btn {
      height: 120px;
      display: flex;
      margin-left: 20px;
      justify-content: center;
      align-items: center;

      .menu-btn__list {
        display: flex;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid $hover-color;
          height: 120px;
          width: 90px;
          cursor: pointer;
          a {
            img {
              margin: 0 auto;
              width: 50px;
              height: 50px;
            }
          }
          &:nth-child(2) {
            a {
              img {
                width: 65px;
                height: 50px;
              }
            }
          }
          &:nth-child(3) {
            a {
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          &:nth-child(4) {
            a {
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          &:last-child {
            padding: 0px 10px;
            border-right: 1px solid $hover-color;
            a {
              color: $white;
            }
          }
          &:hover {
            background-color: $hover-color;
          }
        }
      }
    }
  }
}
