/* VARIABLES */
$basic-color: #666;
$white: #fff;
$background-color: #e6002d;
$hover-color: #840028;
/* COMMON */
body {
  width: 100%;
  height: 3000px;
}
.inner {
  width: 1200px;
  background-color: $background-color;
  margin: 0 auto;
  display: flex;
  position: relative;
}
img {
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* HEADER */
header {
  width: 100%;
  background-color: $background-color;
  position: fixed;
  height: 120px;
  z-index: 9999;
  .inner {
    a {
      img {
        width: 190px;
        height: 90px;
        margin: 15px 50px 10px 10px;
      }
    }
  }
}
header {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    cursor: pointer;
    .menu-list__kfa-live {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
    }
    .menu-list__national-team.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__national-team {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);

        li {
          height: 100px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 14px;
          border-right: 1px solid #840028;
          border-top: 1px solid $hover-color;
        }
        &:first-child {
          border-left: 1px solid $hover-color;
        }
      }
    }
    .menu-list__competition.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__competition {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        li {
          height: 100px;
          display: flex;
          align-items: center;
          padding-left: 15px;
          border-right: 1px solid $hover-color;
          border-top: 1px solid $hover-color;
        }
        &:first-child {
          border-left: 1px solid $hover-color;
        }
      }
    }
    .menu-list__acaive.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__acaive {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 400px;
        border-right: 1px solid $hover-color;
        border-left: 1px solid $hover-color;
        border-top: 1px solid $hover-color;
        .sub-menu__international {
          display: flex;
          flex-grow: 1.7;
          padding: 10px;
          border-right: 1px solid $hover-color;
          h3 {
            display: inline-block;
            font-size: 25px;
            margin: 10px 30px 0 10px;
          }
          ul {
            margin: 10px 20px 20px 10px;
            font-size: 18px;
            flex-grow: 0.7;
            li {
              margin-top: 20px;
              font-size: 12px;
            }
          }
        }
        .sub-menu__national {
          flex-grow: 1.5;
          display: flex;
          padding: 10px;
          border-right: 1px solid $hover-color;
          h3 {
            display: inline-block;
            font-size: 25px;
            margin: 10px 30px 0 10px;
          }
          ul {
            margin: 0px 20px 20px 10px;
            font-size: 18px;
            flex-grow: 0.7;
            li {
              margin-top: 10px;
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
        .sub-menu__record {
          flex-grow: 1.5;
          display: flex;
          padding: 10px;
          h3 {
            display: inline-block;
            font-size: 25px;
            margin: 10px 30px 0 10px;
          }
          ul {
            margin: 0px 20px 20px 10px;
            font-size: 18px;
            flex-grow: 0.7;
            li {
              margin-top: 10px;
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
    .menu-list__KFA.hide {
      .inner {
        display: none;
      }
    }
    .menu-list__KFA {
      color: $white;
      display: block;
      font-weight: 700;
      padding: 55px 20px;

      &:hover {
        background-color: darken($background-color, 10%);
      }
      .inner {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 400px;
        border-right: 1px solid $hover-color;
        border-left: 1px solid $hover-color;
        border-top: 1px solid $hover-color;
        .sub-menu__introduce {
          /* 여기 다섯가지 항목을 만들면서 뭔가 하나하나만드는 느낌이 이상함 */
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }

          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__association {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__vision {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__nfc {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          border-right: 1px solid $hover-color;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
        .sub-menu__download {
          flex-grow: 1;
          padding: 20px 0 0 20px;
          width: 150px;
          h3 {
            display: block;
            font-size: 25px;
          }
          li {
            margin-top: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* BUTTON */
header {
  .inner {
    .menu-btn {
      height: 120px;
      display: flex;
      margin-left: 20px;
      justify-content: center;
      align-items: center;

      .menu-btn__list {
        display: flex;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid $hover-color;
          height: 120px;
          width: 90px;
          cursor: pointer;
          a {
            img {
              margin: 0 auto;
              width: 50px;
              height: 50px;
            }
          }
          &:nth-child(2) {
            a {
              img {
                width: 65px;
                height: 50px;
              }
            }
          }
          &:nth-child(3) {
            a {
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          &:nth-child(4) {
            a {
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          &:last-child {
            padding: 0px 10px;
            border-right: 1px solid $hover-color;
            a {
              color: $white;
            }
          }
          &:hover {
            background-color: $hover-color;
          }
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 720px;
  position: absolute;
  top: 120px;

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;

    .swiper-pagination-bullet {
      bottom: 40px;
      right: 40px;
      width: 10px;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid $white;
      &-active {
        width: 16px;
        height: 16px;
        background-color: $white;
      }
    }
  }
  .buttons {
    display: flex;
    position: absolute;
    bottom: 80px;
    left: 300px;
    height: 46px;
    z-index: 9999;
  }
  .description {
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .btn-prev {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    background-color: #fff;
    color: #666;
    font-size: 35px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .btn-next {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .swiper-pagination .swiper-pagination {
    display: block;
    bottom: 40px;
    right: 40px;
  }
  .swiper-slide {
    img {
      width: 100%;
      margin: 0 auto;
      height: 720px;
    }
  }
}

.notice-menu {
  position: relative;
  .notice {
    position: absolute;
    top: 120px;
    width: 100%;
    background-color: #00145a;
    height: 80px;
    .inner {
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      left: 50%;
      margin-left: -600px;
      background-color: #00145a;
      .menu {
        color: $white;
        font-size: 35px;
        font-weight: bold;
        margin-right: 100px;
      }
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          opacity: 0.7;
          margin-right: 20px;
          height: 100%;
          border-top: 4px solid $white;
          box-sizing: border-box;
          cursor: pointer;
          &.active {
            border-top: 4px solid $white;
            box-sizing: border-box;
            opacity: 1;
          }
          &:not(.active) {
            border: none;
          }
          &:hover {
            border-top: 4px solid $white;
          }
        }
      }
    }
  }
}
